<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/styles/pushbar.css">
    <link rel="stylesheet" href="/styles/check.css">
    <link rel="stylesheet" href="/styles/listado-productos.css">
    <link rel="stylesheet" href="/styles/main.css">
     


    <link href="https://fonts.googleapis.com/css?family=Rubik:500" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:500" rel="stylesheet">
    <title>Check Out | Can Shop </title>
</head>
<body>
   <header>

      <div class="encabezado">
        <nav class="encabezado__nav">
          <a class="encabezado__enlace--primero linea" href="/">HOME</a>
          <a class="encabezado__enlace linea" href="/#section2">ABOUT US</a>
          <a class="encabezado__enlace linea " href="/#section3">CATALOG</a>
          <a class="encabezado__enlace linea" href="/#section4">SALE</a>
        </nav>
        <div class="encabezado__nav-der">
          
          <div class="search-box">
            <input class="search-txt" type="text" name="" placeholder="Type to Search">
            <a class="search-btn" href="#">
              <i class="fas fa-search"></i>
            </a>
           

            </div>
            
          </div>
          
          <a class="encabezado__enlace--micuenta linea " href="#">MY ACCOUNT</a>
          <a class="encabezado__icono" href="#" data-pushbar-target="pushbar-carrito"><img width=20px src="/images/carrito.png" /><span class="carrito__num"></span></a>
          <div data-pushbar-id="pushbar-carrito" class="pushbar from_right pushbar-carrito" >
            <div class="btn-cerrar izquierda">
              <button data-pushbar-close> <i class="fas fa-times"></i></button>
            </div>
            <h1 class="tituloCarrito">MY CART</h1>
            <hr class="lineaCarrito">
              <div class="carrito-desplegado">
        <ul class="carrito-desplegado__lista">

        </ul>
    </div>
            <hr class="lineaCarrito">
           <button class="btnLimpiar">CLEAR</button>
            <div class="btnContinuar">
            <a href="/store/checkout" >CONTINUE TO CHECK OUT</a>
          </div>
        </div>
      </div>
      
    </header>
    
    <h1 class="titulo">Check Out</h1>
     <hr class="categoria__linea">
    </div>

    <div class="wrap">

      <ul class="tabs">
        <li><a href="#tab1"><span class="tab-text">1. Profile</span><span class="fas fa-user"></span > </a></li>
            <li><a href="#tab2"><span  class="tab-text">2. Ubication</span><span class="fas fa-map-marker-alt"></span> </a></li>
             <li><a href="#tab3"><span  class="tab-text">3. Payment</span><span class="fas fa-credit-card"></span> </a></li>
            
      </ul>

      <div class="secciones">
 <form action="/pago" method="POST">
        <article id="tab1">
          <h1 class="tituloTab" >Profile</h1>
          <input class="name" name="name"type="text" placeholder="Name">
          <input class="id" name="id"type="text" name="" id="" placeholder="Id">
          <input class="email"  type="email" name="email" id="" placeholder="Email">
   
           <div id="tab6"  class="contenedorBoton"> <button href=""class="next">Next</button></div>
         
        </article>

        <article id="tab2">
          <h1 class="tituloTab" >Ubication</h1>
          <select>
            <option value="">Country</option>
             <option value="">Colombia</option>
              <option value="">EEUU</option>
               <option value="">Mexico</option>
          </select>

            <input class="city" type="text" name="city" id="" placeholder="City">

            <input class="address" type="text" name="address" id="" placeholder="Address">
        </article>
      

        <article id="tab3">
          <h1 class="tituloTab" >Payment</h1>

          <input type="text" class="card" name= "noCard" placeholder="No. Card">
          <input type="text" class="idHolder" name="idHolder" id="" placeholder="Id Holder">
            <select>
            <option value="">Number of Installments</option>
          </select>
          <div class="pay">
          <h1 class="pay__aviso">Payments through:</h1>
          <img class="pay__img"src="/images/payu.png" alt="" srcset="" width="50px">
          </div>

          <button type="submit">CHECKOUT</button>

        </article>

          <article id="tab4">
          <h1>Summary</h1>


        </article>
</form>
      </div>
    </div>

                  <footer>

                <h1 class="titulopie">GET HELP</h1>
                
                <div class="pie">
                  
                  
                  <div class="pie__izq">
                    <a class="pie__izq__enlace" href="#">Order Status</a>
                    <a class="pie__izq__enlace" href="#">Shopping</a>
                    <a class="pie__izq__enlace" href="#">Delivery</a>
                  </div>
                  
                  
                  <div class="pie__der">
                    <a class="pie__der__enlace" href="#">Returns</a>
                    <a class="pie__der__enlace" href="#">Payment Options</a>
                    <a class="pie__der__enlace" href="#">Contact Us</a>
                  </div>

                  <hr width="1" size="200">
                  <h1 class="pie__suscribirse">
                    Already have an account? Subscribe</h1>
                  <input type="email" placeholder="Email" class="pie__campo">
                  <input class="pie__boton" type="button" value="Submit">
                </div>

        
                
              </footer>
   
    <script src="/script/tienda.js"></script>

      
                            
            <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js"
              integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP"
              crossorigin="anonymous"></script>

              <script
              src="https://code.jquery.com/jquery-3.3.1.js"
              integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
              crossorigin="anonymous"></script>
            <script src="/script/check.js"></script>
            <script src="/script/libs/pushbar.js"></script>
              <script>
              var pushbar = new Pushbar ({
                blur: true,
                overlay: false

              });
              
              </script>
       
     
    
</body>
</html>