<!DOCTYPE html>

<html lang="en">
<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<link rel="stylesheet" href="/styles/pushbar.css">
				<link rel="stylesheet" href="/styles/splotmachine.css">
		<link rel="stylesheet" href="/styles/main.css">

		 <link href="https://fonts.googleapis.com/css?family=Rubik:500" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto:500" rel="stylesheet">

	
	<title>Slot Machine</title>
</head>

<body onload="toggleAudio()">
		<header>
				<section class="top">
		  <section class="menu-res">
				 <a href="#"data-pushbar-target="pushbar-menu"> <i class="fas fa-bars"></i></a>  
		  
				 <div data-pushbar-id="pushbar-menu" class="pushbar from_top pushbar-menu" >
					<div class="btn-cerrar izquierda">
					  <button data-pushbar-close> <i class="fas fa-times"></i></button>
					  <div class="encabezado-peque">
						  <nav class="encabezado__nav encabezado-peque__nav">
							<a class="encabezado-peque__enlace--primero encabezado-peque__enlace--primero linea" href="/">HOME</a>
							<a class="encabezado-peque__enlace linea" href="/#section2">ABOUT US</a>
							<a class="encabezado-peque__enlace linea " href="/#section3">CATALOG</a>
							<a class="encabezado-peque__enlace linea" href="/#section4">SALE</a>
						  </nav>
						 
							
							
							
						</div>
					</div>
				  </div>
		  
		  
				  <h1>CanShop</h1>
				</section>
		  
		  
		  
		  
				<div class="encabezado">
				  <nav class="encabezado__nav">
					<a class="encabezado__enlace--primero linea" href="/">HOME</a>
					<a class="encabezado__enlace linea" href="/#section2">ABOUT US</a>
					<a class="encabezado__enlace linea " href="/#section3">CATALOG</a>
					<a class="encabezado__enlace linea" href="/#section4">SALE</a>
				  </nav>
				  <div class="encabezado__nav-der">
					
					<div class="search-box">
					  <input class="search-txt" type="text" name="" placeholder="Type to Search">
					  <a class="search-btn" href="#">
						<i class="fas fa-search"></i>
					  </a>
					 
		  
					  </div>
					  
					</div>
					
					<a class="encabezado__enlace--micuenta linea " href="#">MY ACCOUNT</a>
					
				</div>
				<div class="zonaCarrito">
				<a class="icono" href="#" data-pushbar-target="pushbar-carrito"><img class="imgCarrito" width=30px src="/images/carrito.png" /><h1 class="carrito__num"></h1></a>
					<div data-pushbar-id="pushbar-carrito" class="pushbar from_right pushbar-carrito" >
					  <div class="btn-cerrar izquierda">
						<button data-pushbar-close> <i class="fas fa-times"></i></button>
					  </div>
					  <h1 class="tituloCarrito">MY CART</h1>
					  <hr class="lineaCarrito">
					  <div class="carrito-desplegado">
						<ul class="carrito-desplegado__lista"></ul>
					</div>
					<button class="btnLimpiar"><img class="basuraImg" src="/images/basura.png" width=20px><span>CLEAN MY CART</span></button>
					  <hr class="lineaCarrito">
					  <div class="numP">
						<h1 class="numP__titulo">Total Products:</h1>
						<p class="numP__total"></p>
						</div>
						<div class="subtotal">
						<h1 class="subtotal__titulo">Subtotal:</h1>
						<p class="subtotal__num"></p>
						</div>
						<div class="delivery">
						  <h1 class="delivery__titulo">Delivery:</h1>
						  <p class="delivery__num">$9</p>
						  </div>
						   <div class="total">
						<h1 class="total__titulo">Total:</h1>
						<p class="total__num"></p>
						</div>
				 
					  <div class="btnContinuar">
					  <a href="/checkout" >CONTINUE TO CHECK OUT</a>
					</div>
				  </div>
				</div>
				</section>
			  </header>

		
	
		  <h1 class="titulo"> <span class="game">GAME</span>  <span class="slot" style="color: black">SLOT</span></h1>
			

			  <section class="app">
			
				<article class="app__intro">
					<h1 class="app__intro__titulo">Instructions</h1>

					<div class= "app__intro__paso">
						<div class="app__intro__paso__img">

							<img src="/images/pasouno.png" alt="" srcset="">
						</div>
						<div class="app__intro__paso__texto"> <p class="app__intro__paso__texto-txt">Pull the lever of the machine by clicking on it, to make it react and start the game.</p></div>

					</div>


						<div class= "app__intro__paso">
						<div class="app__intro__paso__img">

							<img src="/images/pasodos.png" alt="" srcset="">
						</div>
						<div class="app__intro__paso__texto"> <p class="app__intro__paso__texto-txt">Wait for the machine to stop and if the following combinations come out you will earn discount vouchers:</p></div>


					</div>
					
						<section class="condicion">
							<div class="condicion__img">
								<img src="/images/condicion1.png" alt="" srcset="">
							</div>
							<div class="condicion__texto"> <p>* The three boxes with the same figure, with the exception of the joker dog</p></div>
						</section>


						<section class="condicion">
							<div class="condicion__img">
								<img src="/images/condicion2.png" alt="" srcset="">
							</div>
							<div class="condicion__texto"> <p>* Two joker dogs and any figure</p></div>
						</section>

						<section class="condicion">
							<div class="condicion__img">
								<img src="/images/condicion3.png" alt="" srcset="">
							</div>
							<div class="condicion__texto"> <p>* Two equal figures and a joker dog</p></div>
						</section>

												<div class= "app__intro__paso">
						<div class="app__intro__paso__img">

							<img src="/images/pasotres.png" alt="" srcset="">
						</div>
						<div class="app__intro__paso__texto"> <p class="app__intro__paso__texto-txt">If you win, wait for a code to come out. You can copy it and save it to exchange it in the checkout section, and take surprises with the discounts won.</p></div>


					</div>

				</article>





					<article class="app__machine">
		
							
		<img src="/images/machine.png"  class="machinefondo"alt="" srcset="">
			<img src="/images/aviso.png"  class="aviso"alt="" srcset="">
							<section  class="machine__status" id="status">WELCOME!</section>
							
							<section id="Slots">
								<div id="slot1" class="a2"></div>
								<div id="slot2" class="a3"></div>
								<div id="slot3" class="a4"></div>
							</section>
							<section id="Gira"></section>
							<section id="options">
								<img src="/res/icons/audioOn.png" id="audio" class="option" onclick="toggleAudio()" />
							</section>
							<section id="code">
									<h1 id="codenum"></h1>
							</section>
										
						</article>
			  </section>


<footer>

		<h1 class="titulopie">GET HELP</h1>
		
		<div class="pie">
		  
		  
		  <div class="pie__izq">
			<a class="pie__izq__enlace" href="#">Order Status</a>
			<a class="pie__izq__enlace" href="#">Shopping</a>
			<a class="pie__izq__enlace" href="#">Delivery</a>
		  </div>
		  
		  
		  <div class="pie__der">
			<a class="pie__der__enlace" href="#">Returns</a>
			<a class="pie__der__enlace" href="#">Payment Options</a>
			<a class="pie__der__enlace" href="#">Contact Us</a>
		  </div>

		  <hr width="1" size="200">
		  <h1 class="pie__suscribirse">
			Already have an account? Subscribe</h1>
		  <input type="email" placeholder="Email" class="pie__campo">
		  <input class="pie__boton" type="button" value="Submit">
		</div>


		
	  </footer>
 <script src="/script/libs/pushbar.js"></script>
              <script>
              var pushbar = new Pushbar ({
                blur: true,
                overlay: false

              });
              </script>

              <script src="https://code.jquery.com/jquery-3.3.1.js"
              integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
              crossorigin="anonymous"></script>

         <script src="/script/animacionLetra.js"></script>
				 <script src="/script/botonTraga.js"></script>
              <script src="/script/greenSock.js"></script>
							         
							            <script src="/script/tienda.js"></script>
													  <script src="/script/splot.js"></script>

              
              <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
              <script>AOS.init();</script>
              <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js"
              integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP"
              crossorigin="anonymous"></script>
              <script>"https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"</script>
              <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/TweenMax.min.js"></script>
               <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/TweenLite.min.js"></script>
</body>
</html>