html {
  background-image: url("../images/fondoProductos.png");
  background-size: cover;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 1000px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-x: hidden;
}

.lista-productos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.lista-productos__item {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-item-align: auto;
      -ms-grid-row-align: auto;
      align-self: auto;
  margin-right: 3em;
}

.primeraLinea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 100%;
}

.cajaFiltro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 150px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Rubik', sans-serif;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 5em;
}

.box-minmax {
  margin-top: 10px;
  width: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: 'Rubik', sans-serif;
  font-size: 15px;
  color: #FFAE67;
}

.rs-range {
  margin-top: 10px;
  width: 150px;
  font-family: 'Rubik', sans-serif;
  -webkit-appearance: none;
}

.rs-range:focus {
  outline: none;
}

.rs-range::-webkit-slider-runnable-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: #FFAE67;
  border-radius: 0px;
  border: 0px solid #FFAE67;
}

.rs-range::-moz-range-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  box-shadow: none;
  background: #FFAE67;
  border-radius: 0px;
  border: 0px solid  #FFAE67;
}

.rs-range::-webkit-slider-thumb {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 0px solid  #FFAE67;
  -webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
  height: 20px;
  width: 10px;
  border-radius: 22px;
  background: #FFAE67;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -10px;
}

.rs-range::-moz-range-thumb {
  box-shadow: none;
  border: 0px solid  #FFAE67;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
  height: 42px;
  width: 22px;
  border-radius: 22px;
  background: white;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -10px;
  font-family: 'Rubik', sans-serif;
}

.rs-range::-moz-focus-outer {
  border: 0;
}

.contenedorCirculo {
  width: 150px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.rs-label {
  -webkit-transform-origin: center center;
          transform-origin: center center;
  display: block;
  width: 45px;
  height: 45px;
  background: transparent;
  border-radius: 50%;
  line-height: 10px;
  text-align: center;
  padding-top: 5px;
  font-weight: bold;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid  #FFAE67;
  margin-top: 10px;
  color: #FFAE67;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 15px;
  font-family: 'Rubik', sans-serif;
}

.rs-label::after {
  content: "$";
  font-family: 'Rubik', sans-serif;
  display: block;
  font-size: 12px;
  letter-spacing: 0.07em;
  margin-top: -1px;
}

.filtro {
  margin-right: 1em;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  -ms-flex-item-align: auto;
      -ms-grid-row-align: auto;
      align-self: auto;
  width: 200px;
  height: 20px;
  margin-right: 8em;
  font-family: 'PT Sans', sans-serif;
}

.radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

.radio input {
  display: none;
}

.radio input + span {
  line-height: 22px;
  height: 22px;
  padding-left: 22px;
  display: block;
  position: relative;
}

.radio input + span:not(:empty) {
  padding-left: 30px;
}

.radio input + span:before, .radio input + span:after {
  content: '';
  width: 22px;
  height: 22px;
  display: block;
  border-radius: 50%;
  left: 0;
  top: 0;
  position: absolute;
}

.radio input + span:before {
  background: #D1D7E3;
  background: 0.2s ease, transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
}

.radio input + span:after {
  background: #fff;
  -webkit-transform: scale(0.78);
          transform: scale(0.78);
  -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.4);
  transition: -webkit-transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.4);
  transition: transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.4);
  transition: transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.4), -webkit-transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.4);
}

.radio input:checked + span:before {
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
  background: #FFAE67;
}

.radio input:checked + span:after {
  -webkit-transform: scale(0.4);
          transform: scale(0.4);
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
}

.radio:hover input + span:before {
  -webkit-transform: scale(0.92);
          transform: scale(0.92);
}

.radio:hover input + span:after {
  -webkit-transform: scale(0.74);
          transform: scale(0.74);
}

.radio:hover input:checked + span:after {
  -webkit-transform: scale(0.4);
          transform: scale(0.4);
}

.categoria {
  font-family: 'Rubik', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-left: 3em;
  margin-top: 3em;
  margin-bottom: 4em;
  width: 100%;
}

.categoria__invisible {
  display: none;
}

.categoria__titulo {
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.categoria__titulo {
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.categoria__linea {
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  -ms-flex-item-align: start;
      align-self: flex-start;
  width: 190px;
  height: 2px;
  border: none;
  background-color: black;
}

.filtro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.filtro__caja {
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  -ms-flex-item-align: auto;
      -ms-grid-row-align: auto;
      align-self: auto;
}

.productos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 2em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.producto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 220px;
  height: 450px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 2em;
}

.producto__contenedor {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 100%;
  height: 302px;
}

.producto__contenedor-enlace {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 220px;
  height: 302px;
  -ms-flex-item-align: center;
      align-self: center;
}

.producto__contenedor-imagen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  width: 220px;
  height: 302px;
}

.producto__img {
  display: none;
}

.producto__precio {
  font-family: 'Rubik', sans-serif;
  color: #FFAE67;
  width: 220px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-size: 24px;
  margin-top: 2px;
}

.producto__titulo {
  margin-top: 2px;
  font-family: 'Rubik', sans-serif;
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-size: 18px;
  width: 90%;
}

.producto__descripcion {
  margin-top: 2px;
  font-family: 'PT Sans', sans-serif;
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-size: 15px;
  width: 220px;
}

.producto__nuevo {
  font-family: 'Rubik', sans-serif;
  color: #FFAE67;
  width: 220px;
  margin-top: 2px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-size: 15px;
}

.producto .btn__agregar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 1px;
  padding: 3px;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 5px;
  background: none;
}

.producto .imgAgregar {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.producto .imgAgregar__img {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.producto .textAgregar {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 10px;
  text-align: center;
  color: #56AA8A;
  text-decoration: underline;
  font-family: 'Roboto', sans-serif;
}

.btn__all {
  text-decoration: none;
  color: black;
}

footer {
  width: 100%;
  margin-top: 5em;
}

@media (max-width: 800px) {
  .categoria {
    position: absolute;
  }
  .categoria__titulo {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    -ms-flex-item-align: start;
        align-self: flex-start;
    font-size: 28px;
  }
  .container {
    width: 50%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: 0em;
    margin-top: 7em;
    margin-left: 2em;
  }
  .filtro {
    margin-right: 2em;
    width: 50%;
  }
  .lista-productos {
    width: 500px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    justify-items: flex-start;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
  .lista-productos__item {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -ms-flex-item-align: start;
        align-self: flex-start;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    margin-right: 0em;
    width: 200px;
    height: 360px;
  }
  .producto {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -ms-flex-item-align: start;
        align-self: flex-start;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    margin-right: 0em;
    width: 200px;
    height: 360px;
  }
  .producto__contenedor {
    -ms-flex-item-align: start;
        align-self: flex-start;
    width: 180px;
    height: 210px;
  }
  .producto__contenedor-imagen {
    -ms-flex-item-align: start;
        align-self: flex-start;
    width: 180px;
    height: 210px;
  }
  .producto__precio {
    width: 100%;
    font-size: 22px;
    margin-top: 0px;
  }
  .producto__titulo {
    margin-top: 0px;
    font-size: 15px;
    width: 100%;
  }
  .producto__descripcion {
    width: 100%;
  }
  .producto__nuevo {
    width: 100%;
    margin-top: 0px;
  }
  footer {
    width: 100%;
  }
}
/*# sourceMappingURL=listado-productos.css.map */