* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  position: relative;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-x: hidden;
}

.app {
  height: 100%;
}

.botonTraga {
  display: none;
  z-index: 100;
  position: fixed;
  right: 120px;
  top: 700px;
  -webkit-transition: all ease 0.4s;
  transition: all ease 0.4s;
  border-radius: 100%;
  -webkit-box-shadow: 0px 4px 4px rgba(99, 98, 98, 0.25);
          box-shadow: 0px 4px 4px rgba(99, 98, 98, 0.25);
}

.botonTraga__img {
  width: auto;
}

.pushbar {
  background: #121212;
  padding: 20px;
  text-align: center;
}

.lineaCarrito {
  width: 100%;
  background: #424242;
  height: 1px;
  border: none;
  margin-top: 1em;
}

.btnContinuar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 3em;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  outline: none;
  border: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btnContinuar a {
  text-align: center;
  width: 200px;
  border-radius: 5px;
  border: none;
  padding: 1em;
  color: #ffff;
  background: #FFAE67;
  text-decoration: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tituloCarrito {
  color: #fff;
  font-family: 'Rubik', sans-serif;
}

.pushbar .btn-cerrar button {
  background: none;
  color: #808080;
  border: none;
  font-weight: lighter;
  cursor: pointer;
  font-size: 20px;
}

.pushbar .btn-cerrar.izquierda {
  text-align: left;
}

.top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.encabezado {
  background: #FFAE67;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2em;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.encabezado__enlace {
  color: #ffff;
  margin-right: 3em;
  text-decoration: none;
  font-size: 20px;
  font-family: 'Rubik', sans-serif;
}

.encabezado__enlace--primero {
  color: #ffff;
  margin-right: 5em;
  margin-left: 2em;
  font-size: 20px;
  text-decoration: none;
  font-family: 'Rubik', sans-serif;
}

.encabezado .linea {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
}

.encabezado .linea:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #ffff;
  height: 4px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.encabezado .linea:hover:before, .encabezado .linea:focus:before, .encabezado .linea:active:before {
  right: 0;
}

.encabezado__enlace--micuenta {
  margin-left: 7em;
  margin-right: 7em;
  font-size: 20px;
  font-family: 'Rubik', sans-serif;
  text-decoration: none;
  color: #ffff;
}

.encabezado .search-box {
  position: absolute;
  margin-top: 15px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 40px;
  border-radius: 40px;
  background: #FFAE67;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
}

.encabezado .search-box:hover {
  margin-right: 1em;
}

.encabezado .search-box:hover > .search-txt {
  width: 200px;
  padding: 0 6px;
  background: none;
  border-bottom: #000 solid 1px;
}

.encabezado .search-box:hover > .search-btn {
  background: #000;
  color: #fff;
}

.encabezado .search-btn {
  color: #fff;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: right;
  border-radius: 50%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.encabezado .search-txt {
  border: none;
  float: left;
  background: #ffff;
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  font-size: 16px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  line-height: 40px;
  width: 0px;
}

.zonaCarrito {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 10%;
  background: #FFAE67;
}

.zonaCarrito .icono {
  text-decoration: none;
  font-family: 'Rubik', sans-serif;
  color: #ffff;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
}

.zonaCarrito .icono img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.zonaCarrito .carrito__num {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: #000;
  font-size: 12px;
  background: #fff;
  border-radius: 3em;
  height: 18px;
  width: 18px;
  margin-top: 25px;
  margin-left: 14px;
  position: absolute;
}

.juego {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  background: #E8FFFD;
}

.juego__boton {
  width: 200px;
  background: black;
  padding: 1em;
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
  border-radius: 5px;
}

.swiper1 .intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-flow: column;
      flex-flow: column;
  background-size: cover;
  height: 95vh;
  background-image: url("../images/banner.jpg");
}

.swiper1 .contenedor {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  margin-left: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 4em;
  width: 700px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper1 .contenedor__titulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.swiper1 .contenedor__titulo, .swiper1 .contenedor h1 {
  color: #ffff;
  font-size: 150px;
  max-width: 200px;
  font-family: 'Rubik', sans-serif;
}

.swiper1 .contenedor__titulo, .swiper1 .contenedor span {
  color: #000;
  font-family: 'Rubik', sans-serif;
}

.swiper1 .contenedor__descripcion {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-family: 'PT Sans', sans-serif;
  max-width: 500px;
  color: #ffff;
  font-size: 25px;
}

.swiper1 .contenedor__boton {
  width: 200px;
  background: black;
  padding: 1em;
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
  border-radius: 5px;
}

.swiper1 .contenedor__boton .botonprin {
  color: #ffff;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

.swiper1 .contenedor__boton:hover {
  background: white;
  padding: 1em;
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
  border-radius: 5px;
}

.swiper1 .contenedor__boton:hover .botonprin {
  color: #000;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

.swiper1 .juego {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 100%;
  height: 95vh;
  background: #E8FFFD;
}

.swiper1 .juego__cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 95vh;
  width: 800px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-line-pack: end;
      align-content: flex-end;
}

.swiper1 .juego__cont__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  justify-items: center;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.swiper1 .juego__cont__sobreimg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  justify-items: flex-start;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.swiper1 .juego__contenedor {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.swiper1 .juego__contenedor__titulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.swiper1 .juego__contenedor__titulo, .swiper1 .juego__contenedor h1 {
  color: #F14A68;
  font-size: 150px;
  font-family: 'Rubik', sans-serif;
}

.swiper1 .juego__contenedor__titulo, .swiper1 .juego__contenedor span {
  color: #000;
  font-family: 'Rubik', sans-serif;
}

.swiper1 .juego__contenedor__des {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: start;
      align-self: flex-start;
  width: 400px;
}

.swiper1 .juego__contenedor__des p {
  font-family: 'PT Sans', sans-serif;
  color: #000;
  font-size: 25px;
}

.swiper1 .juego__contenedor__boton {
  -ms-flex-item-align: start;
      align-self: flex-start;
  width: 200px;
  background: black;
  padding: 1em;
  margin-top: 1em;
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
  border-radius: 5px;
}

.swiper1 .juego__contenedor__boton .botonprin {
  color: #ffff;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

.swiper1 .juego__contenedor__boton:hover {
  background: white;
  padding: 1em;
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
  border-radius: 5px;
}

.swiper1 .juego__contenedor__boton:hover .botonprin {
  color: #000;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

.sobrenosotros {
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-top: 5em;
  background-size: cover;
  height: 100%;
}

.sobrenosotros__titulo {
  font-family: 'Rubik', sans-serif;
  font-size: 100px;
  color: #FFAE67;
}

.sobrenosotros hr {
  max-width: 600px;
  margin: 0 auto;
  height: 3px;
  background-color: #000;
  border: none;
}

.sobrenosotros__descripcion {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 1em;
  font-size: 29px;
  font-family: 'PT Sans', sans-serif;
}

.sobrenosotros__cualidades .trans {
  margin-top: 4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.sobrenosotros__cualidades .trans__titulo {
  font-family: 'Rubik', sans-serif;
  text-align: left;
  font-size: 40px;
}

.sobrenosotros__cualidades .trans__des {
  margin-left: 10em;
  max-width: 300px;
}

.sobrenosotros__cualidades .trans__texto {
  font-size: 25px;
  text-align: left;
  font-family: 'PT Sans', sans-serif;
}

.sobrenosotros__cualidades .trans__img {
  width: 200px;
  margin-right: 10em;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.sobrenosotros__cualidades .calidad {
  margin-top: 4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.sobrenosotros__cualidades .calidad__titulo {
  font-family: 'Rubik', sans-serif;
  text-align: left;
  font-size: 40px;
}

.sobrenosotros__cualidades .calidad__des {
  max-width: 300px;
}

.sobrenosotros__cualidades .calidad__texto {
  font-size: 25px;
  text-align: left;
  font-family: 'PT Sans', sans-serif;
}

.sobrenosotros__cualidades .calidad__img {
  width: 200px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-left: 15em;
}

.sobrenosotros__cualidades .saludable {
  margin-top: 4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.sobrenosotros__cualidades .saludable__titulo {
  font-family: 'Rubik', sans-serif;
  text-align: left;
  font-size: 40px;
}

.sobrenosotros__cualidades .saludable__des {
  margin-left: 10em;
  max-width: 300px;
}

.sobrenosotros__cualidades .saludable__texto {
  font-size: 25px;
  text-align: left;
  font-family: 'PT Sans', sans-serif;
}

.sobrenosotros__cualidades .saludable__img {
  width: 200px;
  margin-right: 10em;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.catalogo {
  background: #000;
  margin-top: 5em;
}

.catalogo__titulo {
  color: #ffff;
  text-align: center;
  padding-top: 1em;
  font-size: 80px;
  font-family: 'Rubik', sans-serif;
}

.columnas {
  margin-top: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 650px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-line-pack: center;
      align-content: center;
}

.columnas__col {
  width: 500px;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  margin: 0 px;
  padding: 1em;
}

.producto .hvr-grow {
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

.producto .hvr-grow:hover,
.producto .hvr-grow:focus,
.producto .hvr-grow:active {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.producto__info--img1 {
  width: 300px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 500px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-flow: wrap-reverse;
          flex-flow: wrap-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url(../images/food.png);
}

.producto__info--img1:hover {
  background-repeat: no-repeat;
  background-image: url(../images/foodcolor.png);
  height: 520px;
}

.producto__info--img2 {
  width: 300px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 500px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-flow: wrap-reverse;
          flex-flow: wrap-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url(../images/clothing.png);
}

.producto__info--img2:hover {
  background-repeat: no-repeat;
  background-image: url(../images/clothingcolor.png);
  height: 520px;
}

.producto__info--img3 {
  width: 300px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 500px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-flow: wrap-reverse;
          flex-flow: wrap-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url(../images/toys.png);
}

.producto__info--img3:hover {
  background-image: url(../images/toyscolor.png);
  height: 520px;
}

.producto__info--img4 {
  width: 300px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 500px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-flow: wrap-reverse;
          flex-flow: wrap-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url(../images/walks.png);
}

.producto__info--img4:hover {
  background-image: url(../images/walkscolor.png);
  height: 520px;
}

.producto__contenedorboton {
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  padding: 2em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.producto__boton {
  width: 200px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  background: #FFAE67;
  padding: 1em;
  outline: none;
  color: #ffff;
  border: none;
  border-radius: 5px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.producto__boton a.producto__enlace {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  color: #fff;
}

.descuento {
  background-image: url(../images/backgroundsale.png);
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  height: 100%;
  margin-top: 5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.descuento .aside {
  font-family: 'Rubik', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
  margin-top: 0;
}

.descuento .aside__izq {
  width: 100px;
  word-wrap: break-word;
  line-height: 300px;
  color: #FFAE67;
  font-size: 250px;
  padding-top: 4em;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  padding-top: initial;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

.descuento .der {
  font-family: 'Rubik', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.descuento .der--large {
  width: 100px;
  word-wrap: break-word;
  text-align: center;
  line-height: 300px;
  font-size: 250px;
  padding-top: 4em;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

.sale {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 2em;
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sale .etiqueta {
  -ms-flex-preferred-size: 150px;
      flex-basis: 150px;
  width: 150px;
  height: 150px;
  background: #FFAE67;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sale .etiqueta__porc {
  font-family: 'Rubik', sans-serif;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 60px;
  font-weight: 100;
  color: #ffff;
}

.sale .colu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.sale .colu__co {
  width: 300px;
  margin: 0 10px;
  padding: 2em;
}

.sale__info--sale1 {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 550px;
  height: 500px;
  margin-top: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background-image: url(../images/sale1.png);
}

.sale .info {
  width: 100%;
  height: 150px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-color: #FFAE67;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  display: flex;
  -webkit-transition: .2s all ease-in-out;
  transition: .2s all ease-in-out;
  opacity: 0;
}

.sale .info__izq {
  margin-left: 2em;
}

.sale .info__izq__titulo {
  color: #fff;
  font-family: 'Rubik', sans-serif;
  font-size: 30px;
}

.sale .info__izq__des {
  font-family: 'Pt Sans', sans-serif;
  margin-top: 10px;
}

.sale .info__izq__cant {
  margin-top: 10px;
  font-family: 'Pt Sans', sans-serif;
}

.sale .info__der {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 2em;
}

.sale .info__der__pactual {
  font-family: 'Rubik', sans-serif;
  font-size: 30px;
  text-align: center;
  color: #fff;
}

.sale .info__der__panterior {
  text-decoration: line-through;
  color: red;
  text-align: center;
  margin-top: 10px;
}

.sale .info__der__boton {
  background: #000;
  color: #fff;
  margin-top: 10px;
  border: none;
  padding: 1em;
}

.sale:hover .info {
  opacity: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sale__info--sale2 {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 550px;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background-image: url(../images/sale2.png);
}

.sale__info--sale3 {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 550px;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background-image: url(../images/sale3.png);
}

.sale__info--sale4 {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 550px;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background-image: url(../images/sale4.png);
}

.galeria {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.galeria__titulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Rubik', sans-serif;
  font-size: 80px;
  color: #FFAE67;
  margin-top: 2em;
}

.galeria__btn {
  margin-top: 2em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 200px;
  -ms-flex-preferred-size: 50px;
      flex-basis: 50px;
  background: black;
  padding: 1em;
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
  border-radius: 5px;
  color: #fff;
  border: none;
}

.galeria__btn:hover {
  background: #fff;
  color: #000;
  border: #000 solid 2px;
}

.galeria__banner {
  width: 60%;
  margin-top: 2em;
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 500px;
  background-size: cover;
  background-position: center;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.galeria__miniaturas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.galeria__img {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
  height: auto;
}

.galeria .swiper1 {
  height: 100%;
}

.galeria .intro {
  height: 100%;
}

.galeria .swiper-container {
  width: 50%;
  height: 100%;
  margin: 10px auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.galeria .swiper-slide {
  text-align: center;
  width: 60%;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

footer {
  background: #000;
  height: 400px;
  padding: 3em;
  margin-top: 4em;
}

footer .titulopie {
  color: #ffff;
  margin-left: 1em;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  font-family: 'Rubik', sans-serif;
}

.pie {
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pie__izq {
  font-size: 20px;
  margin-top: 1em;
  margin-left: 1em;
  margin-right: 4em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-family: 'PT Sans', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pie__izq__enlace {
  color: #ffff;
  text-decoration: none;
  padding: 1em;
}

.pie__der {
  font-size: 20px;
  margin-top: 1em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'PT Sans', sans-serif;
  color: #ffff;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pie__der__enlace {
  color: #ffff;
  text-decoration: none;
  padding: 1em;
}

.pie__suscribirse {
  color: #fff;
  font-family: 'Rubik', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 1em;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.pie__campo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 300px;
      flex-basis: 300px;
  border-radius: 5px;
  border: none;
  padding: 2em;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  height: 40px;
  margin-right: 2em;
}

.pie__boton {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 200px;
      flex-basis: 200px;
  background: #fff;
  padding: 1em;
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
  border-radius: 5px;
  color: #000;
  border: none;
}

.articulo {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2em;
  padding: 5px;
}

.articulo__basura {
  width: 20px;
  cursor: pointer;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.articulo .icono {
  width: 100%;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.articulo__imagen {
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  width: 120px;
  height: 120px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  -ms-flex-item-align: auto;
      -ms-grid-row-align: auto;
      align-self: auto;
}

.articulo__titulo {
  color: #fff;
  text-align: start;
  font-family: 'Rubik', sans-serif;
}

.articulo__precio {
  color: #fff;
  font-family: 'PT Sans', sans-serif;
  font-size: 15px;
  text-align: start;
}

.articulo__descripcion {
  margin-top: 1em;
  color: #fff;
  font-family: 'PT Sans', sans-serif;
  font-size: 11px;
  text-align: start;
}

.articulo .cantidad {
  margin-top: 1em;
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Rubik', sans-serif;
  width: 100%;
  height: 50px;
  padding: 1em;
}

.articulo .cantidad__mas {
  cursor: pointer;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  -ms-flex-item-align: auto;
      -ms-grid-row-align: auto;
      align-self: auto;
  width: 20px;
  font-family: 'PT Sans', sans-serif;
  height: 40x;
  font-size: 15px;
  background: none;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-color: #FFAE67;
  color: #fff;
}

.articulo .cantidad__num {
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  font-size: 20px;
  -ms-flex-item-align: auto;
      -ms-grid-row-align: auto;
      align-self: auto;
  font-family: 'PT Sans', sans-serif;
  text-align: center;
  color: #ffffff;
}

.articulo .cantidad__menos {
  cursor: pointer;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  -ms-flex-item-align: auto;
      -ms-grid-row-align: auto;
      align-self: auto;
  width: 20px;
  font-family: 'PT Sans', sans-serif;
  height: 40x;
  font-size: 15px;
  background: none;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-color: #FFAE67;
  color: #ffffff;
}

.articulo .precioColor {
  color: #FFAE67;
}

.numP, .delivery, .subtotal, .total {
  margin-top: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.numP__titulo, .delivery__titulo, .subtotal__titulo, .total__titulo {
  color: #fff;
  text-align: start;
  font-family: 'PT Sans', sans-serif;
  font-size: 15px;
}

.numP__num, .delivery__num, .subtotal__num, .total__num {
  color: #FFAE67;
  text-align: start;
  font-family: 'PT Sans', sans-serif;
  font-size: 15px;
}

.numP__total, .delivery__total, .subtotal__total, .total__total {
  color: #FFAE67;
  text-align: start;
  font-family: 'PT Sans', sans-serif;
  font-size: 15px;
}

.btnLimpiar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  -ms-flex-preferred-size: 200px;
      flex-basis: 200px;
  background: #af2f08;
  padding: 10px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 5px;
  color: #fff;
  border: none;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-top: 2em;
  outline: none;
}

.btnLimpiar:hover, .btnLimpiar:active, .btnLimpiar:focus {
  background: #c5380e;
}

.btnLimpiar span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  text-align: center;
  color: #fff;
}

.btnContinuar a:hover, .btnContinuar a:focus, .btnContinuar a:active {
  background: #fdb679;
}

.basuraImg {
  margin-right: 1em;
}

.fa-bars {
  display: none;
}

.menu-res {
  display: none;
}

@media (max-width: 800px) {
  .encabezado {
    display: none;
  }
  .menu-res {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    text-align: center;
    background: #121212;
    height: 50px;
    -ms-flex-line-pack: justify;
        align-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-family: 'Rubik', sans-serif;
  }
  .menu-res h1 {
    color: #fff;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-right: 8em;
    margin-left: 0em;
  }
  .fa-bars {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 1em;
    color: #fff;
  }
  .zonaCarrito {
    background: #121212;
    border: none;
    padding-right: 2em;
    justify-items: flex-start;
  }
  .zonaCarrito .carrito__num {
    font-size: 10px;
    margin-top: 6px;
    height: 15px;
    width: 15px;
    color: #000;
  }
  .encabezado-peque {
    padding: 1em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
  }
  .encabezado-peque__enlace--primero {
    color: #ffff;
    margin-right: 0em;
    margin-left: 0em;
    font-size: 20px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
  }
  .encabezado-peque__nav-der {
    display: none;
  }
  .encabezado-peque__nav {
    -ms-flex-item-align: center;
        align-self: center;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    align-self: center;
  }
  .encabezado-peque__enlace {
    color: #ffff;
    margin-right: 0em;
    margin-left: 0em;
    font-size: 20px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
  }
  .encabezado-peque__enlace--micuenta {
    display: none;
  }
  .encabezado-peque .search-box {
    display: none;
  }
  .encabezado-peque .search-box:hover {
    display: none;
  }
  .encabezado-peque .search-btn {
    display: none;
  }
  .intro {
    height: 400px;
    width: 100%;
    background-position: center;
  }
  .contenedor {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -ms-flex-direction: column;
        flex-direction: column;
    display: block;
    padding: 0em;
    width: 200px;
    height: 400px;
  }
  .contenedor__titulo, .contenedor h1 {
    font-size: 80px;
    max-width: 200px;
    font-family: 'Rubik', sans-serif;
  }
  .contenedor__descripcion {
    max-width: 200px;
    font-size: 15px;
  }
  .contenedor__boton {
    margin-top: 1em;
  }
  .sobrenosotros__titulo {
    font-size: 50px;
  }
  .sobrenosotros hr {
    max-width: 300px;
  }
  .sobrenosotros__descripcion {
    padding: 1em;
    margin-top: 1em;
    font-size: 15px;
  }
  .sobrenosotros__cualidades .trans {
    margin-top: 1em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .sobrenosotros__cualidades .trans__titulo {
    font-size: 33px;
  }
  .sobrenosotros__cualidades .trans__des {
    margin-left: 0em;
    max-width: 200px;
  }
  .sobrenosotros__cualidades .trans__texto {
    font-size: 15px;
    text-align: left;
  }
  .sobrenosotros__cualidades .trans__img {
    width: 100px;
    margin-right: 2em;
  }
  .sobrenosotros__cualidades .calidad {
    margin-top: 1em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .sobrenosotros__cualidades .calidad__titulo {
    font-size: 33px;
  }
  .sobrenosotros__cualidades .calidad__des {
    margin-right: 0em;
    max-width: 200px;
  }
  .sobrenosotros__cualidades .calidad__texto {
    font-size: 15px;
    text-align: left;
  }
  .sobrenosotros__cualidades .calidad__img {
    width: 100px;
    margin-left: 2em;
  }
  .sobrenosotros .saludable {
    margin-top: 1em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .sobrenosotros .saludable__titulo {
    font-size: 33px;
  }
  .sobrenosotros .saludable__des {
    margin-left: 0em;
    max-width: 200px;
  }
  .sobrenosotros .saludable__texto {
    font-size: 15px;
    text-align: left;
  }
  .sobrenosotros .saludable__img {
    width: 100px;
    margin-right: 2em;
  }
  .catalogo {
    margin-top: 1em;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .catalogo__titulo {
    padding-top: 1em;
    font-size: 50px;
    font-family: 'Rubik', sans-serif;
  }
  .columnas {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-items: center;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .columnas__col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding: 0em;
  }
  .producto {
    margin-right: 0px;
    margin-left: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-item-align: center;
        align-self: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 1em;
  }
  .producto .hvr-grow:hover,
  .producto .hvr-grow:focus,
  .producto .hvr-grow:active {
    height: 310px;
  }
  .producto__info--img1 {
    height: 300px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .producto__info--img2 {
    height: 300px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .producto__info--img3 {
    height: 300px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .producto__info--img4 {
    height: 300px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .descuento {
    height: 100%;
    margin-top: 3em;
    display: block;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .descuento .aside {
    display: block;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .descuento .aside__izq {
    width: 100%;
    word-wrap: normal;
    line-height: 100px;
    font-size: 50px;
    text-align: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    justify-items: center;
    padding-top: 4em;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    padding-top: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
  .descuento .der {
    display: none;
  }
  .sale {
    padding: 1em;
  }
  .sale .etiqueta {
    -ms-flex-preferred-size: 100px;
        flex-basis: 100px;
    width: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: start;
        align-content: flex-start;
  }
  .sale .etiqueta__porc {
    font-size: 30px;
  }
  .sale .colu__co {
    width: 200px;
    margin: 10 0px;
    padding: 1em;
  }
  .sale .info {
    width: 100%;
    height: 100px;
    padding: 0px;
  }
  .sale .info__izq {
    margin-left: 2em;
  }
  .sale .info__izq__titulo {
    font-size: 20px;
  }
  .sale .info__izq__des {
    margin-top: 5px;
    font-size: 12px;
  }
  .sale .info__izq__cant {
    margin-top: 5px;
    font-size: 10px;
  }
  .sale .info__der {
    margin-right: 1em;
  }
  .sale .info__der__pactual {
    font-size: 20px;
  }
  .sale .info__der__panterior {
    margin-top: 4px;
  }
  .sale .info__der__boton {
    margin-top: 3px;
    border: none;
    padding: 1em;
  }
  .sale__info--sale1 {
    width: 350px;
    height: 350px;
  }
  .sale__info--sale2 {
    width: 350px;
    height: 350px;
  }
  .sale__info--sale3 {
    width: 350px;
    height: 350px;
  }
  .sale__info--sale4 {
    width: 350px;
    height: 350px;
  }
  .galeria__titulo {
    font-size: 50px;
    margin-top: 1em;
  }
  .galeria__banner {
    width: 350px;
    height: 350px;
  }
  .galeria .swiper-container {
    width: 100%;
    height: 300px;
    margin: 0 auto;
  }
  .galeria .swiper-slide {
    width: 400px;
  }
  .galeria__img {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: auto;
  }
  footer {
    padding: 2em;
    height: 100%;
  }
  footer .titulopie {
    margin-left: 0em;
    text-align: center;
  }
  .pie {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .pie__izq {
    margin-right: 0em;
    margin-left: 0em;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .pie__izq__enlace {
    text-align: center;
    padding: 10px;
  }
  .pie__der {
    margin-top: 0em;
    margin-right: 0em;
    margin-left: 0em;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .pie__der__enlace {
    text-align: center;
    padding: 10px;
  }
  .pie hr {
    margin-top: 1em;
    height: 5px;
    width: 100%;
    background: #fff;
  }
  .pie__suscribirse {
    margin-top: 1em;
    font-size: 20px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    text-align: center;
  }
  .pie__campo {
    margin-top: 2em;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    height: 10px;
    margin-right: 0em;
  }
  .pie__boton {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-top: 2em;
    -ms-flex-preferred-size: 30px;
        flex-basis: 30px;
    width: 50%;
  }
}
/*# sourceMappingURL=main.css.map */