
.titulo{
	
	color: #F14A68;
	font-size: 120px;
	max-width: 100%;
	font-family: 'Rubik', sans-serif;
	text-align: center;
	margin-top: 50px;
	text-shadow: 5px -5px #FFF6E0;

	
}

html{
	background: url(/images/fondogame.png);
	background-size: cover;
}



.app{
	margin-top: 4em;
	display: flex;
	justify-content: center;
	margin-bottom: 20vh;

	&__intro{
		width: 50%;
		margin-left: 3em;
		&__titulo{
			color: #43B5A8;
			font-family: 'Rubik', sans-serif;
			margin-left: 3em;
			font-size: 30px;
		}
		&__paso{
			width: 600px;
			margin-top: 30px;
			margin-left: 5em;
			font-family: 'PT Sans', sans-serif;
			display: flex;

			&__img{
				width: 50px;
			}
			&__img img{
				width: 50px;
			}
			&__texto{
				margin-left: 20px;
				width: 600px;
				font-size: 18px;
			}
		}
	}

	.condicion{
			width: 500px;
			margin-top: 30px;
			margin-left: 9em;
			font-family: 'PT Sans', sans-serif;
			display: flex;

			&__img{
				width: 300px;
			}
			&__img img{
				width: 300px;
			}
			&__texto{
				margin-left: 5px;
				width: 450px;
				font-size: 14px;
			}
	}

	&__machine{
		width: 50%;
		padding: 10px;
	
	
	}
}





.machinefondo{
display: line;	
width: 550px;
height: 696px;
position: absolute;
margin-left: 2em;	
}

.aviso{
	width: 448px;
	height: 110px;
	margin-left: 5em;	
	position: absolute;
	margin-top: 5em;
}

section#status{
	width: 448px;
	height: 110px;
	margin-left: 3.5em;
	position: absolute;
	margin-top: 5em;
	border-radius: 5px;
	text-align: center;
	background-size: cover;
	color: #FFFFFF;
	font-size: 25px;
	font-family: 'Roboto Mono', monospace;
}
section#Slots{
	display: flex;
	margin-left: 5.5em;
	margin-top: 15em;
	border-radius: 15px;
	position: absolute;

}
#code{
	width: 448px;
	margin-left: 3em;
	font-size: 30px;
	position: absolute;
	text-align: center;
	margin-top: 80vh;
	font-family: 'Roboto Mono', monospace;
	color: #616161;
}

section#Gira{
	margin-top: 25px;
	padding-top: 25px;
	padding-bottom: 25px;
	border-radius: 5px;
	text-align: center;
	color: #FFFFFF;
	font-size: 25px;
	width: 76px;
	margin-left: 22em;
	margin-top: 2em;
	height: 400px;
	position: absolute;
	background-image: url("/images/palanca.png");
	background-size: contain;

}
section#Gira:hover{

}
section#options{
	margin-top: 7em;
	margin-left: 7em;
	padding-top: 5px;
	position: absolute;
	border-radius: 5px;

}
.option{
	padding-left: 5px;
}
section#info{
	background-color: #616161;
	padding-left: 12px;
	padding-bottom: 12px;
	border-radius: 5px;
	overflow: hidden;
	animation-duration: 1s;
	color: #BDBDBD;
	margin-top: 50px;
	margin-left: 30%;
	margin-right: 30%;
	display: none;
}
#slot1, #slot2, #slot3{
	display: inline-block;
	margin-top: 5px;
	margin-left: 15px;
	margin-right: 15px;
	background-size: 118px;
	width: 118px;
	height: 118px;
}
.a1{

	background-image: url("/res/tiles/seven.png");
}
.a2{
	background-image: url("/res/tiles/cherries.png");
}
.a3{
	background-image: url("/res/tiles/club.png");
}
.a4{
	background-image: url("/res/tiles/diamond.png");
}
.a5{
	background-image: url("/res/tiles/heart.png");
}
.a6{
	background-image: url("/res/tiles/spade.png");
}
.a7{
	background-image: url("/res/tiles/joker.png");
}

footer{
	margin-top: 2em;
}