* {
	box-sizing:border-box;
	margin: 0;
	padding: 0;
}


html{
	scroll-behavior: smooth;
	position: relative;
}




body {
	display: flex;
	width: 100%;
	flex-direction: column;
		overflow-x:hidden;
}

.app{
	height: 100%;
	
}
.pushbar{

	background: #121212;
	padding: 20px;
	text-align: center;
}
.lineaCarrito{
	width: 100%;
	background: #424242;
	height: 1px;
	border: none;
	margin-top: 1em;	
}
.btnContinuar{
	display: flex;
	margin-top: 3em;
	width: 100%;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	outline: none;
	border: none;
	align-items: center;
	justify-content: center;


	
}
.btnContinuar a{
	text-align: center;
	width: 200px;
	border-radius: 5px;
	border: none;
	padding: 1em;
	color: #ffff;
	background: #FFAE67;
	text-decoration: none;
	align-items: center;

}

.tituloCarrito{
	color: #fff;
	font-family: 'Rubik', sans-serif;
}
.pushbar .btn-cerrar button{
	background: none;
	color: #808080;
	border: none;
	font-weight: lighter;
	cursor: pointer;
	font-size: 20px;
}
.pushbar .btn-cerrar.izquierda{

text-align: left;
}

.encabezado{
	background: #FFAE67;
	width: 100%;
	display: flex;
	padding: 2em;
	justify-content: space-between;

	

	&__enlace{
		color: #ffff;
		margin-right: 3em;
		text-decoration: none;
		font-size: 20px;
		font-family: 'Rubik', sans-serif;
		
		
		
	}
	
	
	&__enlace--primero{
		color: #ffff;
		margin-right: 5em;
		margin-left: 2em;
		font-size: 20px;
		text-decoration: none;
		font-family: 'Rubik', sans-serif;
	}
	
	
	.linea {
		
		-webkit-transform: perspective(1px) translateZ(0);
		transform: perspective(1px) translateZ(0);
		box-shadow: 0 0 1px rgba(0, 0, 0, 0);
		position: relative;
		
	}
	.linea:before {
		content: "";
		position: absolute;
		z-index: -1;
		left: 0;
		right: 100%;
		bottom: 0;
		background:#ffff;
		height: 4px;
		-webkit-transition-property: right;
		transition-property: right;
		-webkit-transition-duration: 0.3s;
		transition-duration: 0.3s;
		-webkit-transition-timing-function: ease-out;
		transition-timing-function: ease-out;
	}
	.linea:hover:before, .linea:focus:before, .linea:active:before {
		right: 0;
	}
	
	
	
	&__enlace--micuenta{
		margin-left: 7em;
		margin-right: 7em;
		font-size: 20px;
		font-family: 'Rubik', sans-serif;
		text-decoration: none;
		color: #ffff;
	}
	
	&__icono{
		margin-right: 2em;
		
	}
	
	.search-box{
		position: absolute;
		margin-top: 15px;
		transform: translate(-50%,-50%);
		height: 40px;
		border-radius: 40px;
		background: #FFAE67;
		align-content: center;
		justify-content: baseline;
	}
	
	
	.search-box:hover{
		margin-right: 1em;
	}
	.search-box:hover > .search-txt{
		width: 200px;
		padding: 0 6px;
		background: none;
		border-bottom: #000 solid 1px;
	}
	
	.search-box:hover > .search-btn{
		background: #000;
		
		color: #fff;
	}
	
	
	.search-btn{
		color: #fff;
		width: 40px;
		height: 40px;
		display: flex;
		float: right;
		border-radius: 50%;
		
		display: flex;
		justify-content: center;
		align-items: center;
		transition: 0.4s;
		
	}
	
	.search-txt{
		border: none;
		float: left;
		background: #ffff;
		outline: none;
		display: flex;
		padding: 0;
		font-size: 16px;
		transition: 0.4s;
		line-height: 40px;
		width: 0px;
	}
	
	
	
}



.intro{
	display: flex;
	flex-basis: 100%;
	flex-direction: column;
	flex-flow: column;
	background-size: cover;

	height: 800px;
	background-image: url('../images/banner.jpg');
}

.contenedor{
	
	flex-flow: column wrap;
	margin-top: 3em;
	margin-left: 3em;
	display: flex;
	padding: 4em;
	width: 700px;
	align-items: flex-start;
	
	
	&__titulo{
		display: flex;
	}
	&__titulo, h1{
		
		color: #ffff;
		font-size: 150px;
		max-width: 200px;
		font-family: 'Rubik', sans-serif;
	}
	&__titulo, span{
		
		color: #000;
		font-family: 'Rubik', sans-serif;
	}
	
	&__descripcion{
		align-items: flex-start;
		font-family: 'PT Sans', sans-serif;
		max-width: 500px;
		color: #ffff;
		font-size: 25px;
	}
	
	&__boton{
		width: 200px;
		background: black;
		padding: 1em;
		text-align: center;
		align-content: center;
		border-radius: 5px;
		
		
		.botonprin{
			color: #ffff;
			align-content: center;
			
			text-align: center;
			text-decoration: none;
			font-family: 'Roboto', sans-serif;
		}
	}
	
	&__boton:hover{
		background: white;
		padding: 1em;
		text-align: center;
		align-content: center;
		border-radius: 5px;
		
		
		.botonprin{
			color: #000;
			align-content: center;
			text-align: center;
			text-decoration: none;
			font-family: 'Roboto', sans-serif;
		}
		
	}
	
	
	
	
	
}

.sobrenosotros{
	display: block;
	margin: 0 auto;
	text-align: center;
	margin-top: 5em;
	background-size: cover;
	height: 100%;
	
	&__titulo{
		font-family: 'Rubik', sans-serif;
		font-size: 100px;
		color: #FFAE67;
	}
	
	hr{
		max-width: 600px;
		margin: 0 auto;
		height: 3px;
		background-color: #000;
		border: none;
	}
	
	&__descripcion{
		max-width: 800px;	
		margin: 0 auto;
		margin-top: 1em;
		font-size: 29px;
		font-family: 'PT Sans', sans-serif;
		
	}
	
	&__cualidades{
		
		.trans{
			margin-top: 4em;
			display: flex;
			padding: 2em;
			justify-content: center;
			align-content: center;
			
			
			
			&__titulo{
				font-family: 'Rubik', sans-serif;
				text-align: left;
				font-size: 40px;
				
			}
			
			&__des{
				margin-left: 10em;
				max-width: 300px;
				
			}
			
			&__texto{
				font-size: 25px;
				text-align: left;
				font-family: 'PT Sans', sans-serif;
			}
			
			
			&__img{
				width: 200px;
				margin-right: 10em;
				align-self: flex-start;
			}
			
		}
		
		
		.calidad{
			margin-top: 4em;
			display: flex;
			padding: 2em;
			justify-content: center;
			align-content: space-between;
			
			
			
			
			&__titulo{
				font-family: 'Rubik', sans-serif;
				text-align: left;
				font-size: 40px;
				
			}
			
			&__des{
				max-width: 300px;
				
				
			}
			
			&__texto{
				font-size: 25px;
				text-align: left;
				font-family: 'PT Sans', sans-serif;
			}
			
			
			&__img{
				width: 200px;
				align-self: flex-start;
				margin-left: 15em;
			}
			
		}
		
		
		
		.saludable{
			margin-top: 4em;
			display: flex;
			padding: 2em;
			justify-content: center;
			align-content: center;
			
			
			
			&__titulo{
				font-family: 'Rubik', sans-serif;
				text-align: left;
				font-size: 40px;
				
			}
			
			&__des{
				margin-left: 10em;
				max-width: 300px;
				
			}
			
			&__texto{
				font-size: 25px;
				text-align: left;
				font-family: 'PT Sans', sans-serif;
			}
			
			
			&__img{
				width: 200px;
				margin-right: 10em;
				align-self: flex-start;
			}
			
		}
		
		
	}
	
	
}


.catalogo{
	background: #000;
	margin-top: 5em;
	
	&__titulo{
		color: #ffff;
		text-align: center;
		padding-top: 1em;
		font-size: 80px;
		font-family: 'Rubik', sans-serif;
		
	}
	
}

.columnas{
	margin-top: 1em;
	display: flex;
	height: 650px;
	justify-content: center;
	align-items: flex-end;
	align-content: center;
	
	
	
	&__col{
		width: 500px;
		flex-basis: auto;
		margin: 0 px;
		padding: 1em;
		
	}
}

.producto{
	
	.hvr-grow {
		transform: translateZ(0);
		box-shadow: 0 0 1px rgba(0, 0, 0, 0);
		backface-visibility: hidden;
		-moz-osx-font-smoothing: grayscale;
		transition-duration: 0.3s;
		transition-property: transform;
	}
	
	.hvr-grow:hover,
	.hvr-grow:focus,
	.hvr-grow:active {
		transform: scale(1.03);
	}
	
	&__info--img1{
		width: 300px;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		height: 500px;
		flex-flow: wrap-reverse;
		justify-content: center;
		align-items: flex-start;
		display: flex;
		background-image: url(../images/food.png);
	}
	
	&__info--img1:hover{
		background-repeat: no-repeat;
		background-image: url(../images/foodcolor.png);
		height: 520px;
		
	}
	
	
	
	&__info--img2{
		width: 300px;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		height: 500px;
		flex-flow: wrap-reverse;
		justify-content: center;
		align-items: flex-start;
		display: flex;
		background-image: url(../images/clothing.png);
	}
	
	&__info--img2:hover{	
		background-repeat: no-repeat;
		background-image: url(../images/clothingcolor.png);
		height: 520px;
	}
	
	
	&__info--img3{
		width: 300px;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		height: 500px;
		flex-flow: wrap-reverse;
		justify-content: center;
		align-items: flex-start;
		display: flex;
		background-image: url(../images/toys.png);
	}
	
	&__info--img3:hover{
		background-image: url(../images/toyscolor.png);
		height: 520px;
	}
	
	&__info--img4{
		width: 300px;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		height: 500px;
		flex-flow: wrap-reverse;
		justify-content: center;
		align-items: flex-start;
		display: flex;
		background-image: url(../images/walks.png);
	}
	
	&__info--img4:hover{
		background-image: url(../images/walkscolor.png);
		height: 520px;
	}
	
	
	
	&__contenedorboton{
		flex-basis: auto;
		padding: 2em;
		justify-content: center;
		
	}
	
	&__boton{
		width: 200px;
		font-family: 'Roboto', sans-serif;
		font-size: 14px;
		background: #FFAE67;
		padding: 1em;
		outline: none;
		color: #ffff;
		border: none;
		border-radius: 5px;
		text-align: center;
		align-items: center;
		cursor: pointer;
	}
	
}



.descuento{
	background-image: url(../images/backgroundsale.png);
	flex-basis: auto;
	height: 100%;
	margin-top: 5em;
	display: flex;
	justify-content: space-around;
	
	
	.aside{
		font-family: 'Rubik', sans-serif;
		display: flex;
		align-self: flex-start;
		align-items: flex-start;
		flex-direction: column;
		height: auto;
		margin-top: 0;
		
		
		
		&__izq{   
			width:100px;
			word-wrap: break-word;
			line-height:300px;
			color: #FFAE67;
			font-size: 250px;
			padding-top: 4em;
			flex-grow: 0;
			padding-top: initial;
			flex-shrink: 1;
			
			
		}
		
		
	}
	
	
	.der{
		font-family: 'Rubik', sans-serif;
		display: flex;
		align-self: flex-end;
		align-items: center;
		justify-content: center;
		
		&--large{   
			width:100px;
			word-wrap: break-word;
			text-align:center;
			line-height:300px;
			font-size: 250px;
			padding-top: 4em;
			flex-grow: 0;
			flex-shrink: 1;
		}
	}
	
	
}


.sale{
	display: flex;
	flex-direction: column;
	flex-shrink:1;
	flex-grow:1;
	padding: 2em;
	align-self: flex-start;
	justify-content: center;
	align-items: center;
	
	.etiqueta{
		flex-basis: 150px;
		width: 150px;
		height: 150px;
		background: #FFAE67;
		display: flex;
		flex-direction: column;
		justify-content: center;
		
		
		&__porc{
			font-family: 'Rubik', sans-serif;
			text-align: center;
			justify-content: center;
			font-size: 60px;
			font-weight: 100;
			color: #ffff;
			
			
		}
	}
	
	
	
	
	.colu{
		display: flex;
		justify-content: center;
		align-content: center;
		
		&__co{
			width: 300px;
			margin: 0 10px;
			padding: 2em;
			
		}
		
	}
	
	&__info--sale1{
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		width: 550px;
		height: 500px;
		margin-top: 2em;
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: space-between;
		align-content: flex-start;
		align-items: flex-end;
		background-image: url(../images/sale1.png);


	}
		
		.info{
			width: 100%;
			height: 150px;
			flex-shrink: 0;
			background-color: #FFAE67;
			
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			justify-content: space-between;
			align-content: flex-end;
			align-items: center;
			padding: 20px;

			display: flex;

			transition: .2s all ease-in-out;

			opacity: 0;

			&__izq{
				margin-left: 2em;
				&__titulo{
					color: #fff;
					font-family: 'Rubik', sans-serif;
					font-size: 30px;
				}

				&__des{
					font-family: 'Pt Sans', sans-serif;
					margin-top: 10px;
				}

				&__cant{
					margin-top: 10px;
					font-family: 'Pt Sans', sans-serif;
				}
			}

			&__der{

				align-items: center;
				justify-content: center;
				margin-right: 2em;
				&__pactual{
					font-family: 'Rubik', sans-serif;
					font-size: 30px;
					text-align: center;
					color: #fff;
				}

				&__panterior{

					text-decoration: line-through;
					color: red;
					text-align: center;
					margin-top: 10px;
				}
				&__boton{
					background: #000;
					color: #fff;
					margin-top: 10px;
					border: none;
					padding: 1em;
				}
			}
		}

		&:hover{
			
			.info{
				opacity: 1;
				
				display: flex;
			}
		}
	

	
	
	&__info--sale2{
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		width: 550px;
		height: 500px;
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: space-between;
		align-content: flex-start;
		align-items: flex-end;
		background-image: url(../images/sale2.png);	
	}
	
	
	
	&__info--sale3{
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		width: 550px;
		height: 500px;
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: space-between;
		align-content: flex-start;
		align-items: flex-end;
		background-image: url(../images/sale3.png);
		
	}
	
	
	&__info--sale4{
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		width: 550px;
		height: 500px;
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: space-between;
		align-content: flex-start;
		align-items: flex-end;
		background-image: url(../images/sale4.png);
		
	}
}

.galeria{
	display: flex;
	flex-direction: column;

		&__titulo{
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-content: flex-start;
			align-items: center;	
			font-family: 'Rubik', sans-serif;
			font-size: 80px;
			color: #FFAE67;
			margin-top: 2em;

		}

		&__btn{
			margin-top: 2em;
			align-items:center;
			align-self:center; 
			justify-content: center;
			width: 200px;
			flex-basis: 50px;
			background: black;
			padding: 1em;
			text-align: center;
			align-content: center;
			border-radius: 5px;
			color: #fff;
			border: none;
		}

		&__btn:hover{
			background: #fff;
			color: #000;
			border: #000 solid 2px;
		}

		
    &__banner{
		
		width: 60%;
		margin-top: 2em;
		align-self: center;
		display: flex;
		height:500px;
		background-size: cover;
		background-position: center;
		justify-items: center;
		align-items: center;
		
    }
    &__miniaturas{
		display: flex;
		flex-basis: 50%;
		justify-content: center;
		width:50%;
		align-items: center;
		

    }
    &__img{
		flex-basis: 60%;
		align-items: center;
        width: 60%;
				height: auto;
				

				
		}
		

	  .swiper-container {
      width: 50%;
      height: 300px;
			margin: 10px auto;
			justify-content: center;
    }
    .swiper-slide {
      text-align: center;
			width: 60%;
      background: #fff;
      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
		}
		



}



footer{
	background: #000;
	height: 400px;
	padding: 3em;
	.titulopie{
		color: #ffff;
		margin-left: 1em;
		flex-grow:0;
		flex-shrink: 0;
		font-family: 'Rubik', sans-serif;
		
	}
	
}



.pie{	
	flex-basis: auto;
	flex-grow:0;
	flex-shrink: 0;
	
	display: flex;
	
	&__izq{
		font-size: 20px;
		margin-top: 1em;
		margin-left: 1em;
		margin-right: 4em;
		flex-direction: column;
		align-self: flex-start;
		font-family: 'PT Sans', sans-serif;
		
		
		display: flex;
		
		&__enlace{
			color: #ffff;
			text-decoration: none;
			padding: 1em;
		}
		
	}
	
	&__der{
		font-size: 20px;
		margin-top: 1em;
		flex-direction: column;
		font-family: 'PT Sans', sans-serif;
		color: #ffff;
		text-decoration: none;
		display: flex;
		
		&__enlace{
			color: #ffff;
			text-decoration: none;
			padding: 1em;
		}
		
	}
	&__suscribirse{
		color: #fff;
		font-family: 'Rubik', sans-serif;
		display: flex;
		margin-left: 1em;
			justify-content: flex-start;
		flex-direction: column;
		
	}
	&__campo{
		display: flex;
		flex-direction: column;
		flex-basis: 300px;
		border-radius: 5px;
		border: none;
		padding: 2em;
		align-content: flex-start;
		height: 40px;
		margin-right: 2em;
		
	}

	&__boton{
		align-items:center;
		height: 40px;
		flex-direction: column;
		flex-basis: 200px;
		background: #fff;
		padding: 1em;
		text-align: center;
		align-content: center;
		border-radius: 5px;
		color:#000;
		border: none;
	}


	
}






@media (max-width: 800px){
	
	.encabezado{
		padding: 0em;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: center;
		align-content: center;
		align-items: center;
		width: 100%;
		height: 200px;
		background: #000;
		text-align: center;

	&__nav-der{
		display: flex;
		flex-direction: column;
		padding: 0em;
	}
	&__nav{
		display: flex;
		flex-direction: column;
		padding: 0em;
	}

	
	&__enlace{
		font-size: 20px;	
		padding: 0em;	
		margin-left: 0em;
		margin-right: 0em;
	}
	
	
	&__enlace--primero{
		margin-left: 0em;
		margin-right: 0em;
		text-align: center;
		font-size: 20px;
	
	}

	&__enlace--micuenta{
		margin-left: 0;
		margin-right: 0;
		font-size: 20px;


	}
	
	&__icono{
		display: none;
	}

	.search-box{
		
	display: none;
		
	}
	
	.search-box:hover{
		display: none;
	}
	
		.search-btn{

	display: none;
		
	}
	

		}
		.intro{
			height: 400px;
			width: 100%;
			background-position: center;
			//background: none !important; 
			
		}


.contenedor{
	
	flex-flow: column wrap;
	flex-direction: column;
	display: block;
	padding: 0em;
	width:200px;
	height: 400px;

	&__titulo, h1{

		font-size: 80px;
		max-width: 200px;
		font-family: 'Rubik', sans-serif;
	}

	&__descripcion{
	
		max-width: 200px;
		font-size:15px;
	}

	&__boton{
	margin-top: 1em;
	}

}

.sobrenosotros{

	
	&__titulo{
		font-size: 50px;
	}

	hr{
		max-width: 300px;
	}


	&__descripcion{
		padding: 1em;
		margin-top: 1em;
		font-size: 15px;
	}
	&__cualidades{

		.trans{
			margin-top: 1em;
			display: flex;

	
			&__titulo{

				font-size: 33px;
				
			}


			&__des{
				margin-left: 0em;
				max-width: 200px;
				
			}

			&__texto{
				font-size: 15px;
				text-align: left;

			}

			&__img{
				width: 100px;
				margin-right: 2em;
			}

		}


		.calidad{
			margin-top: 1em;
			display: flex;

	
			&__titulo{

				font-size: 33px;
				
			}


			&__des{
				margin-right: 0em;
				max-width: 200px;
				
			}

			&__texto{
				font-size: 15px;
				text-align: left;

			}

			&__img{
				width: 100px;
				margin-left: 2em;
			}

		}

	}


	.saludable{
		margin-top: 1em;
		display: flex;


		&__titulo{

			font-size: 33px;
			
		}


		&__des{
			margin-left: 0em;
			max-width: 200px;
			
		}

		&__texto{
			font-size: 15px;
			text-align: left;

		}

		&__img{
			width: 100px;
			margin-right: 2em;
		}

	}



}

.catalogo{
	margin-top: 1em;
	justify-content: center;
	
	
	&__titulo{
		padding-top: 1em;
		font-size: 50px;
		font-family: 'Rubik', sans-serif;
		
	}
	
}

.columnas{
	display: flex;
	justify-items: center;
	height: 100%;
	flex-direction: column;
	align-items: center;
	align-content: center;
	

	&__col{
		display: flex;
		width: 100%;
		padding: 0em;
	

		
	}
}
.producto{
	margin-right: 0px;
	margin-left: 0px;
	display: flex;
	justify-content: center;
	align-self: center;
	flex-direction: column;
	padding: 1em;

	.hvr-grow:hover,
	.hvr-grow:focus,
	.hvr-grow:active {
		height: 310px;
	}
	
	&__info--img1{

		height: 300px;
		align-items: center;
		align-self: center;
	
	}

	&__info--img2{

		height: 300px;
		align-items: center;
		align-self: center;
	
	}


	&__info--img3{

		height: 300px;
		align-items: center;
		align-self: center;
	
	}

	&__info--img4{

		height: 300px;
		align-items: center;
		align-self: center;
	
	}

}

.descuento{
	height: 100%;
	margin-top: 3em;
	display:block;
	justify-content: center;

	.aside{
		display: block;
		align-self: center;
		align-items: center;
			
		&__izq{   
			width:100%;
			word-wrap: normal;
			line-height:100px;
			font-size: 50px;
			text-align: center;
			align-self: center;
			justify-items: center;
			padding-top: 4em;
			flex-grow: 0;
			padding-top: 0;
			flex-shrink: 0;
				
		}
	}
	.der{
		
		display: none;

	}

}

.sale{
	padding: 1em;

	.etiqueta{
		flex-basis: 100px;
		width: 100px;
	
		display: flex;
		align-content: flex-start;

		&__porc{
			font-size: 30px;

		}

	}



	
	.colu{
		
		&__co{
			width: 200px;
			margin: 10 0px;
			padding: 1em;
			
		}
		
	}

	.info{
		width: 100%;
		height: 100px;
		padding: 0px;

		&__izq{
			margin-left: 2em;
			&__titulo{
				font-size: 20px;
			}

			&__des{
				margin-top: 5px;
				font-size: 12px;
			}

			&__cant{
				margin-top: 5px;
				font-size: 10px;
			}
		}

		&__der{

			margin-right: 1em;
			&__pactual{
				font-size: 20px;
		
			}

			&__panterior{
				margin-top: 4px;
			}
			&__boton{
				margin-top: 3px;
				border: none;
				padding: 1em;
			}
		}
	}


	&__info--sale1{

		width: 350px;
		height: 350px;

	}

	&__info--sale2{

		width: 350px;
		height: 350px;

	}

	&__info--sale3{

		width: 350px;
		height: 350px;

	}

	&__info--sale4{

		width: 350px;
		height: 350px;

	}


}

.galeria{
	&__titulo{
		font-size: 50px;
		margin-top: 1em;
	}

	&__banner{
		width: 350px;
		height: 350px;
	}

	.swiper-container {
		width: 100%;
		height: 300px;
		margin: 0 auto;
	}
	.swiper-slide {
		width: 400px;

	}

  &__img{
		flex-basis: 100%;
		align-items: center;
        width: 100%;
				height: auto;

	}
}

footer{
	padding: 2em;
	height: 100%;

.titulopie{
	margin-left: 0em;
	text-align: center;
}


}

.pie{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;

	&__izq{
		margin-right: 0em;
		margin-left: 0em;
		align-self: center;

		&__enlace{
			text-align: center;
			padding: 10px;
		}
	}
	&__der{
		margin-top: 0em;
		margin-right: 0em;
		margin-left: 0em;
		align-self: center;

		&__enlace{
			text-align: center;
			padding: 10px;
		}
	}
hr{
	margin-top: 1em;
  height: 5px;
	width: 100%;
	background: #fff;
}

&__suscribirse{
	margin-top: 1em;
	font-size: 20px;
	align-self: center;
	text-align: center;

}

&__campo{
	margin-top: 2em;
	align-items: center;
	flex-basis: 100%;
	height: 10px;
	margin-right: 0em;
}

&__boton{

	align-self: center;
	margin-top: 2em;
	flex-basis: 30px;
	width: 50%;
}



}

}